<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2012. JSpringBot. All Rights Reserved.
  ~
  ~ See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The JSpringBot licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

  <description>jSpringBot DB Keywords</description>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:jdbc.properties"/>
  </bean>

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="url" value="${jdbc.url}"/>
    <property name="username" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
    <property name="driverClassName" value="${jdbc.driverClassName}"/>
    <property name="defaultAutoCommit" value="false"/>
    <property name="maxActive" value="8"/>
    <property name="maxWait" value="10000"/>
    <property name="maxOpenPreparedStatements" value="20"/>
    <property name="poolPreparedStatements" value="false"/>
    <property name="initialSize" value="1"/>
    <property name="accessToUnderlyingConnectionAllowed" value="1"/>

    <property name="testOnBorrow" value="true"/>
    <property name="testOnReturn" value="false"/>
    <property name="testWhileIdle" value="true"/>

    <property name="minIdle" value="0"/>
    <property name="maxIdle" value="1"/>

    <!-- Idle connections are checked every 10 seconds -->
    <property name="timeBetweenEvictionRunsMillis" value="10000"/>
    <!-- Idle connections live for 10 seconds before being closed -->
    <property name="minEvictableIdleTimeMillis" value="10000"/>
    <property name="numTestsPerEvictionRun" value="8"/>
  </bean>

  <bean id="versionStrategy" class="com.carbonfive.db.migration.SimpleVersionStrategy"/>

  <bean class="com.carbonfive.db.migration.DataSourceMigrationManager" init-method="migrate">
    <constructor-arg ref="dataSource"/>
    <property name="versionStrategy" ref="versionStrategy"/>
  </bean>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="hibernateProperties">
      <value>
        hibernate.dialect=${hibernate.dialect}
      </value>
    </property>
  </bean>

  <bean name="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <bean name="dbHelper" class="org.jspringbot.keyword.db.DbHelper" init-method="begin" destroy-method="rollback">
    <constructor-arg ref="sessionFactory"/>
    <property name="querySource" value="classpath:queries.xml"/>
    <property name="useSchemaSyntax" value="set schema %s"/>
  </bean>

  <!-- Scan components -->
  <ctx:component-scan base-package="org.jspringbot.keyword.db"/>
  <ctx:annotation-config/>

</beans>
