<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

  <description>Robot Selenium Keywords</description>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
    <property name="locations">
      <list>
        <value>classpath:jspringbot.properties</value>
      </list>
    </property>
  </bean>

  <bean id="profile" class="org.openqa.selenium.firefox.FirefoxProfile">
    <property name="acceptUntrustedCertificates" value="${selenium.accept.untrusted.certificates:true}"/>
    <property name="assumeUntrustedCertificateIssuer" value="${selenium.assume.untrusted.certificates:true}"/>
  </bean>

  <bean class="org.jspringbot.keyword.selenium.FirefoxProfileBean">
    <constructor-arg ref="profile"/>
    <property name="downloadDirectory" value="${selenium.download.directory:/tmp/jspringbot}"/>
    <property name="downloadShowWhenStarting" value="false"/>
    <property name="downloadSaveToDisk" value="${selenium.autosave.content.type}"/>
    <property name="networkProxyHTTP" value="${selenium.network.proxy.http:none}"/>
    <property name="networkProxyHTTPPort" value="${selenium.network.proxy.http.port:3128}"/>
    <property name="networkProxyType" value="${selenium.network.proxy.type:0}"/>
    <property name="networkProxyNoProxiesOn" value="${selenium.network.proxy.no.proxies.on:none}"/>
    <property name="networkProxyShareProxySettings" value="true"/>
    <!--<property name="networkHTTPPhishyUserpassLength" value="255"/>-->
    <property name="networkAutomaticNtlmAuthTrustedURIs" value="${network.automatic-ntlm-auth.trusted-uris}"/>
    <property name="networkAutomaticNtlmAuthAllowNonFqdn" value="true"/>
    <property name="networkNtlmSendLmResponse" value="true"/>
    <property name="userAgent" value="${user.agent:none}"/>
    <property name="securityMixedContentBlockActiveContent" value="${security.block.insecure.content:true}"/>
  </bean>

  <bean id="desiredCapabilities" class="org.openqa.selenium.remote.DesiredCapabilities"/>

  <bean class="org.jspringbot.keyword.selenium.DesiredCapabilitiesBean">
    <constructor-arg ref="desiredCapabilities"/>
    <property name="firefoxProfile" ref="profile"/>
    <property name="proxy" value="${selenium.proxy:none}"/>
    <property name="httpProxy" value="${selenium.http.proxy:none}"/>
    <property name="sslProxy" value="${selenium.ssl.proxy:none}"/>
  </bean>

  <bean id="webdriver" class="org.openqa.selenium.firefox.FirefoxDriver" destroy-method="stopClient">
    <constructor-arg ref="desiredCapabilities"/>
  </bean>

  <bean class="org.jspringbot.keyword.selenium.WebDriverWaitBean">
    <constructor-arg ref="webdriver"/>
    <property name="implicitWaitInSeconds" value="${selenium.implicit.wait:30}"/>
    <property name="downloadTimeoutInSeconds" value="${selenium.download.timeout:10}"/>
  </bean>

  <bean id="helper" class="org.jspringbot.keyword.selenium.SeleniumHelper">
    <constructor-arg ref="webdriver"/>
    <property name="screenCaptureDir" value="${selenium.screenshot.folder}"/>
    <property name="autoZoomIn" value="${selenium.browser.auto.zoom.in:0}"/>
    <property name="autoZoomOut" value="${selenium.browser.auto.zoom.out:0}"/>
  </bean>

  <bean class="org.jspringbot.keyword.selenium.WebDriverInitializerBean">
    <constructor-arg ref="helper"/>
    <property name="maximize" value="${selenium.browser.maximize:false}"/>
  </bean>

  <!-- Scan components -->
  <ctx:component-scan base-package="org.jspringbot.keyword.selenium.web"/>
  <ctx:annotation-config/>
</beans>