<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
  <bean id="compare" class="org.jspringbot.keyword.selenium.ScreenshotCompareHelper">
    <constructor-arg ref="webdriver"/>
    <property name="outputImageDir" value="${selenium.compare.output.dir}"/>
    <property name="baseImageDir" value="${selenium.compare.base.dir}"/>
    <property name="environmentPath" value="${selenium.compare.environment.path}"/>
    <property name="icompareFile" value="${selenium.compare.icompare.file}"/>
    <property name="threshold" value="${selenium.compare.threshold:0.0001}"/>
    <property name="collectImageDir" value="${selenium.compare.image.collect.dir}"/>
  </bean>

  <!-- Scan components -->
  <ctx:component-scan base-package="org.jspringbot.keyword.selenium.compare"/>
  <ctx:annotation-config/>
</beans>
