<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

  <description>Robot Selenium Keywords</description>

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
    <property name="locations">
      <list>
        <value>classpath:jspringbot.properties</value>
      </list>
    </property>
  </bean>

  <bean id="desiredCapabilities" class="org.openqa.selenium.remote.DesiredCapabilities"/>  

  <bean class="org.jspringbot.keyword.selenium.IOSCapabilitiesBean">
    <constructor-arg ref="desiredCapabilities"/>
    <property name="deviceId" value="${ios.device.id:none}"/>
    <property name="simulatorMode" value="${ios.simulator.mode:false}"/>
    <property name="capabilities" value="${selenium.added.capabilities:none}"/>
    <property name="browserName" value="${selenium.grid.browserName:none}"/>
    <property name="platform" value="${selenium.grid.platform:none}"/>
    <property name="version" value="${selenium.grid.version:none}"/>
  </bean>

  <bean id="webdriver" class="org.jspringbot.keyword.selenium.RemoteWebDriverFactory" factory-method="create" destroy-method="quit">
    <constructor-arg type="java.net.URL" value="${selenium.grid.url}"/>
    <constructor-arg type="org.openqa.selenium.Capabilities" ref="desiredCapabilities"/>
  </bean>

  <bean class="org.jspringbot.keyword.selenium.WebDriverWaitBean">
    <constructor-arg ref="webdriver"/>
    <property name="implicitWaitInSeconds" value="${selenium.implicit.wait:30}"/>
    <property name="pageLoadWaitInSeconds" value="${selenium.page.wait:30}"/>
    <property name="scriptWaitInSeconds" value="${selenium.script.wait:30}"/>
    <property name="downloadTimeoutInSeconds" value="${selenium.download.timeout:10}"/>
  </bean>

  <bean id="helper" class="org.jspringbot.keyword.selenium.SeleniumHelper">
    <constructor-arg ref="webdriver"/>
    <property name="jqueryLink" value="${selenium.jquery.link:https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js}"/>
    <property name="implicitWaitInSeconds" value="${selenium.implicit.wait:30}"/>
    <property name="screenCaptureDir" value="${selenium.screenshot.folder}"/>
    <property name="autoZoomIn" value="${selenium.browser.auto.zoom.in:0}"/>
    <property name="autoZoomOut" value="${selenium.browser.auto.zoom.out:0}"/>
  </bean>

  <!-- Scan components -->
  <ctx:component-scan base-package="org.jspringbot.keyword.selenium.web"/>
  <ctx:annotation-config/>
</beans>
