<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2012. JSpringBot. All Rights Reserved.
  ~
  ~ See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The JSpringBot licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

  <description>jSpringBot Expression Keywords</description>

  <bean id="baseFunctions" class="org.jspringbot.keyword.expression.engine.function.SupportedFunctionRegistryBean">
    <constructor-arg>
      <list>
        <value>classpath:functions/string-functions.xml</value>
        <value>classpath:functions/array-functions.xml</value>
        <value>classpath:functions/collection-functions.xml</value>
        <value>classpath:functions/map-functions.xml</value>
        <value>classpath:functions/math-functions.xml</value>
        <value>classpath:functions/expression-functions.xml</value>
      </list>
    </constructor-arg>
  </bean>

  <bean name="variableLifeCycle" class="org.jspringbot.lifecycle.LifeCycleHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.VariableLifeCycleHandler"/>
    </constructor-arg>
  </bean>

  <bean id="globalVariableProvider" class="org.jspringbot.keyword.expression.plugin.DefaultVariableProviderImpl"/>

  <bean id="globalVariableProviderRegistryBean" class="org.jspringbot.keyword.expression.plugin.VariableProviderRegistryBean">
    <constructor-arg ref="globalVariableProvider"/>
  </bean>

  <bean id="defaultVariableProvider" class="org.jspringbot.keyword.expression.plugin.DefaultVariableProviderImpl"/>

  <bean id="defaultVariableProviderRegistryBean" class="org.jspringbot.keyword.expression.plugin.VariableProviderRegistryBean">
    <constructor-arg ref="defaultVariableProvider"/>
  </bean>

  <bean id="expressionArgumentHandler" class="org.jspringbot.keyword.expression.ExpressionArgumentHandler">
    <constructor-arg ref="expressionHelper"/>
  </bean>

  <bean id="expressionArgumentHandlerRegistryBean" class="org.jspringbot.argument.ArgumentHandlerRegistryBean">
    <constructor-arg ref="expressionArgumentHandler"/>
  </bean>

  <bean id="integerExpressionHandlerRegistryBean" class="org.jspringbot.keyword.expression.plugin.ExpressionHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.TypeExpressionHandler">
        <constructor-arg index="0" value="i"/>
        <constructor-arg index="1" ref="expressionHelper"/>
        <constructor-arg index="2" value="java.lang.Integer"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="longExpressionHandlerRegistryBean" class="org.jspringbot.keyword.expression.plugin.ExpressionHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.TypeExpressionHandler">
        <constructor-arg index="0" value="l"/>
        <constructor-arg index="1" ref="expressionHelper"/>
        <constructor-arg index="2" value="java.lang.Long"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="stringExpressionHandlerRegistryBean" class="org.jspringbot.keyword.expression.plugin.ExpressionHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.TypeExpressionHandler">
        <constructor-arg index="0" value="s"/>
        <constructor-arg index="1" ref="expressionHelper"/>
        <constructor-arg index="2" value="java.lang.String"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="floatExpressionHandlerRegistryBean" class="org.jspringbot.keyword.expression.plugin.ExpressionHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.TypeExpressionHandler">
        <constructor-arg index="0" value="f"/>
        <constructor-arg index="1" ref="expressionHelper"/>
        <constructor-arg index="2" value="java.lang.Float"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="doubleExpressionHandlerRegistryBean" class="org.jspringbot.keyword.expression.plugin.ExpressionHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.TypeExpressionHandler">
        <constructor-arg index="0" value="d"/>
        <constructor-arg index="1" ref="expressionHelper"/>
        <constructor-arg index="2" value="java.lang.Double"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="booleanExpressionHandlerRegistryBean" class="org.jspringbot.keyword.expression.plugin.ExpressionHandlerRegistryBean">
    <constructor-arg>
      <bean class="org.jspringbot.keyword.expression.TypeExpressionHandler">
        <constructor-arg index="0" value="b"/>
        <constructor-arg index="1" ref="expressionHelper"/>
        <constructor-arg index="2" value="java.lang.Boolean"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="expressionFactory" class="de.odysseus.el.ExpressionFactoryImpl">
    <constructor-arg type="java.util.Properties">
      <props>
        <prop key="javax.el.cacheSize">5000</prop>
        <prop key="javax.el.varArgs">true</prop>
        <prop key="javax.el.methodInvocations ">true</prop>
      </props>
    </constructor-arg>
  </bean>

  <bean id="expressionHelper" class="org.jspringbot.keyword.expression.ExpressionHelper">
    <constructor-arg ref="expressionFactory"/>
  </bean>

  <!-- Scan components -->
  <ctx:component-scan base-package="org.jspringbot.keyword.expression"/>
  <ctx:annotation-config/>
</beans>