<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <description>jSpringBot expression keywords</description>
    
    <bean name="statsCollectorHelper" class="org.jspringbot.keyword.stats.StatsCollectorHelper"/>

    <!-- Scan components -->
    <ctx:component-scan base-package="org.jspringbot.keyword.expression"/>      
    
    <ctx:annotation-config />             
</beans>